.body {
  margin: 0;
  border: 0;
  box-sizing: border-box;
}

/* #E9ECEF */
/* #33BDBE */

.sidenav {
  height: 100%;
  width: 260px;
  position: relative;
  z-index: 1;
  top: 0;
  left: 0;
  overflow-x: hidden;
  padding-top: 20px;
}

.sidenav a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 15px;
  /* color: #818181; */
  display: block;
}

.sidenav a:hover {
  color: #33BDBE;
}

.main {
  /* margin-left: 260px; Same as the width of the sidenav */
  font-size: 28px; /* Increased text to enable scrolling */
  padding: 0px 10px;
}

.btnbwh {
  color: #6B757D;
}

.btnbwh:hover {
  color: black;
}

.iconSideBar {
  margin-right: 10px;
}

.contentDiv {
  background-color: #E9ECEF;
  color: #6B757D;
  width: 80%;
}

.colorGad {
  color: #33BDBE;
}

.btnSearch {
  background-color:#33BDBE;
  color: white;
}

.iconPlus {
  margin-left: 10px;
}

.idCard {
  font-size: 15px;
}

.imgCard {
  border-radius: 50%;
  width: 60%;
}

.borderCard {
  border-radius: 10px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}
